# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/

# ==========================
# Environment variables
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.swp

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Airflow
# ==========================
airflow.db
airflow.cfg
logs/
standalone_admin_password.txt
webserver_config.py

# ==========================
# Docker
# ==========================
*.log
docker-compose.override.yml

# ==========================
# Mongo
# ==========================
dump/

# ==========================
# MinIO
# ==========================
minio_data/

# ==========================
# PostgreSQL
# ==========================
postgres_data/

# ==========================
# Ollama
# ==========================
ollama_data/

# ==========================
# Superset
# ==========================
superset_home/

# ==========================
# Model cache
# ==========================
.cache/
huggingface/
models/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Temporary files
# ==========================
*.tmp
*.bak
*.sqlite